.env
__pycache__/main.cpython-311.pyc
app/__pycache__/__init__.cpython-311.pyc
app/controller/__pycache__/__init__.cpython-311.pyc
app/controller/__pycache__/movie_controller.cpython-311.pyc
app/db/__pycache__/__init__.cpython-311.pyc
app/db/__pycache__/database.cpython-311.pyc
app/models/__pycache__/__init__.cpython-311.pyc
app/models/__pycache__/models.cpython-311.pyc
app/repositories/__pycache__/__init__.cpython-311.pyc
app/repositories/__pycache__/movie_repository.cpython-311.pyc
app/schemas/__pycache__/__init__.cpython-311.pyc
app/schemas/__pycache__/schemas.cpython-311.pyc
app/services/__pycache__/__init__.cpython-311.pyc
app/services/__pycache__/movie_service.cpython-311.pyc
app/core/__pycache__/logging_config.cpython-311.pyc
